<html>
<head>
<style>
body {
	background-color:gray;
	background-image: url("https://media.istockphoto.com/id/172423874/photo/two-yellow-tulips-isolated-on-white.webp?s=1024x1024&w=is&k=20&c=Z6Egrs2DQngY4-s_VtauRe3uPA2reYAYrCIGIzWvqAU=");
	
	background-repeat: no repeat;
	
	margin-left:100px;
}
</style>
</head>
<body>
<h1>Hello World!</h1>
</body>
</html>

