<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Welcome to ABC School, a place of learning and growth.">
<title>ABC School</title>
<link rel="stylesheet" href="style.css">
</head>
<body>

<header>
<div class="logo">
<h1>ABC School</h1>

<nav>
<ul>
<li><a href="#home">Home</a></li>
<li><a href="#about">About Us</a></li>
<li><a href="#events">Events</a></li>
<li><a href="#contact">Contact</a></li>
</ul>
</nav>
</div>
</header>
<center>
<img src="shc4.jpeg" alt="black" style="width:400px;height:200px;">
<img src="shc3.jpeg" alt="black" style="width:400px;height:200px;">
<img src="shc2.jpeg" alt="black" style="width:400px;height:200px;">
</center>

<section id="home">
<h2>Welcome to ABC School</h2>
<p>We are committed to providing the best education and shaping future leaders.</p>
</section><center>
<img src="students1.jpeg" alt="black" style="width:500px;height:200px;">
<img src="st3.jpeg" alt="black" style="width:500px;height:200px;"></center>

<section id="about">
<h2>About Us</h2>
<p>ABC is a school dedicated to offering quality education. we focus on academic excellence,
 personal growth, and community engagement.</p>
 </section>

 <section id="events">
 <h2>Upcoming Events</h2>
 <ul>
 <li><h2 style="color:blue;">Science Fair - 20th December</h2></li>
 <center>
 <img src="sc2.jpeg" alt="black" style="width:400px;height:400px;">
 <img src="sc1.jpeg" alt="black" style="width:400px;height;200px;">
 <br><li><h2 style="color:blue;">Annual Sports Day - 15th January</h2></li>
 <center>
 <img src="sp1.jpeg" alt="black" style="width:400px;height:200px;">
 <img src="sp2.jpeg" alt="black" style="width:400px;height:200px;"></center>
 <br><li><h2 style="color;blue;">Parent-Teacher Meeting - 10th February</h2></li></br>
 <center>
 <img src="f2.jpeg" alt="black" style="width:400px;height:200px;">
 <img src="f3.jpeg" alt="black" style="width:400px;height:200px;"></center>
 </ul>
 </section>
 
 <section id="contact">
 <h2>Contact Us</h2>
 <p>For any inquires, please reach out to us:</p>
 <ul>
 <li>Email:contact@school.com</li>
 <li>Phone:(123) 456-7890</li>
 <li>Address: 123 School st, City, Country</li>
 </ul>
 </section>
 
 <footer>
 <p>&copy; 2024 ABC School. All Rights Reserved.</p>
 </footer>
</body>
</html>
